.App {
  width: 100vw;
  height: 100vh;
  background-image: url('~/public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  text-align: center;
  overflow: hidden;
  display: flex;
}

