@font-face {
  font-family: sfUIDisplayRegular;
  src: url('~/public/fonts/SF-UI-Display-Regular.otf');
}

body {
  margin: 0;
  font-family: sfUIDisplayRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
