
$grey: rgba(138, 138, 138, 0.79);
$black-blurry-background: rgba(10, 10, 10, 0.5);
$black-blurry-statusbar: rgba(10, 10, 10, 0.7);
$white: #f0f0f0;
$darker-white: rgba(172, 172, 172, 0.79);
$midnight-green-eagle-green: #145363;
$orange-crayola: #FD703B;
$deep-saffron: #FE9B3D;
$sunglow: #FDCA3B;
$battleship-grey: #8A8A8A;
